@import 'variables.scss';

/* GENERAL */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    position: relative;
}

a {
    color: black;
    text-decoration: none;
}

main {
    width: 100%;
}


/* Bouton principal */

.main-btn {
    display: block;
    margin: 15px 0;
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    box-shadow: 4px 4px 10px 1px #c6c6c6;
    &:hover {
        background: linear-gradient(to bottom right, $secondary-light, $primary-light);
        box-shadow: 8px 8px 10px 1px #c2c2c2;
    }    
}

/*.main-btn {
    margin: 15px 0;
    &__button {
        padding: 15px 20px;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 40px;
        background: linear-gradient(to bottom right, $secondary-color, $primary-color);
        box-shadow: 4px 4px 10px 1px #c6c6c6;
    }
    &__button:hover {
        background: linear-gradient(to bottom right, $secondary-light, $primary-light);
        box-shadow: 8px 8px 10px 1px #c2c2c2
    }
}*/

/* Coeur - favoris */

.heart {
    &:before {
        position: relative;
        top: 5px;
        content: "\f004";
        font-weight: 400;
        font-family: "Font Awesome 5 Free";
        padding: 5px 10px;
        font-size: 22px;
        background-clip: text;
        -webkit-background-clip: text ;
        transition: font-weight 1s ease, color 1s ease, background-image 1s ease, background-clip 1s ease;
    }
    &:hover:before {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text ;
        background-image: linear-gradient(180deg, rgba(147,86,220,1) 10%, rgba(255,121,218,1) 70%);
        font-weight: 900;
    }
    &--menu:before {
        top: 0;
        right: 10px;
        font-size: 24px;
    }
}


/* HEADER */

main > header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 12px;
    z-index: 999;
    position: relative
}

.logo {
    width: 180px;
    display: flex;
    @media screen and (min-width: $labtop) {
        width: 280px;
    }
    &__img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
    &__effect {
        padding-left: 25px;
        height: 63.22px;
        width: 100%;
        position: absolute;
        top: 0;
        z-index:999;
        @media screen and (min-width: $labtop) {
            height: 80.56px;
        }
        &--shadow {
            box-shadow: 0px 1px 4px 1px #cacaca;
        }
        &--arrow {
            display: flex;
            align-items: center;
            i {
                padding-top: 5px;
                font-size: 20px;
                color: $dark-bg;
            }
        }
    }
}


/* FOOTER */

footer {
    background-color: $dark-bg;
    color: white;
    padding: 20px 20px 30px;
    div {
        max-width: 1440;
    }
    h2 {
        font-family: $secondary-font;
        font-size: 17px;
        margin-bottom: 15px;
    }
    ul {
        list-style: none;
        > li {
            padding-bottom: 8px;
            i {
                padding-right: 5px;
                font-size: 14px;
            }
            a {
                color: white;
            }
        }
        > li:first-child {
            i {
                padding-right: 12px;
            }
        }
    }
}

