@import 'main.scss';

/* Variables */

/* Vignette plat */
$price-minwidth: 55px;
$checked-width: 60px;


/* Animations affichage des vignettes de plat*/
$num-meals: 4;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-meals;

@keyframes display-meals {
    0% {
        opacity: 0;
        top: 30px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.menu-header {
    height: 300px;
    &__img {
        display: block;
        height: 280px;
        width: 100%;
        object-fit: cover;
        &--la-palette {
            object-position: center;
        }
        &--la-note {
            object-position: center -100px;
            @media screen and (min-width: $tablet) {
                object-position: center center;
            }
        }
        &--la-francaise {
            @extend .menu-header__img--la-palette;
        }
        &--le-delice {
            @extend .menu-header__img--la-palette;
        }
    }
}

/* Menu */

.restaurant {
    background-color: $medium-bg;
    max-width: 1440px;
    position: relative;
    top: -80px;
    margin: 0 auto -80px;
    padding: 30px 15px 50px;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $tablet) {
        justify-content: space-between;
    }
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__name {
        font-family: $secondary-font;
        font-size: 28px;
    }
    &__meals-group {
        width: 100%;
        margin-bottom: 30px;
        @media screen and (min-width: $labtop) {
            width: 32%;
        }
    }
    &__meals-type {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 15px;
        padding-left: 5px;
        &::after {
            content: "";
            display: block;
            height: 5px;
            width: 40px;
            border-bottom: 3px $third-color solid;
        }
    }
    &__order-btn {
        width: 100%;
        text-align: center;
        margin: 0 0 15px;
        button {
            padding-left: 50px;
            padding-right: 50px;
        }
    } 
}

/* vignette plat */
.meal-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 16px;
    background-color: white;
    width: 100%;
    max-width: 100%;
    box-shadow: 4px 4px 8px 1px #dedede;
    margin-bottom: 20px;
    overflow: hidden;
    animation: display-meals 1s ease-out backwards;
    @for $i from 1 through $num-meals {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
         }
    }
    &:hover{
        .meal-card--hovered {
            transform: translateX(-100px);
            position: relative;
        }
        .meal-card__checked-icon {
            transform: rotate(360deg);
        }
    }
    &:active .meal-card--hovered {
        transform: translateX(-100px);
        position: relative;
    }
    &__description {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 12px 0 12px 10px;
        max-width: calc(100% - #{$price-minwidth});
        min-width: calc(100% - #{$price-minwidth} - #{$checked-width});
    }
    &__name {
        font-weight: 500;
        padding-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        @media screen and (min-width: $tablet) {
            width: auto;
            margin-right: 20px;
        }
        @media screen and (min-width: $labtop) {
            width: 100%;
            margin-right: 0;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__price {
        align-self: flex-end;
        font-weight: 500;
        padding: 12px 0 12px 10px;
        min-width: $price-minwidth;
        @media screen and (min-width: $tablet) {
            align-self: center;
        }
        @media screen and (min-width: $labtop) {
            align-self: flex-end;
        }
    }
    &--hovered {
        background-color: $third-color;
        position: absolute;
        right: -100px;
        border-radius: 0 16px 16px 0;
        width: $checked-width;
        min-width: $checked-width;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s transform ease;
        @media screen and (min-width: $tablet) {
            height: 51px;
        }
        @media screen and (min-width: $labtop) {
            height: 69px;
        }
    }
    &__checked-icon {
        color: white;
        font-size: 20px;
        transition: 1s transform ease .3s;
    }
}






