/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* Variables */
/* Colors */
/* Max-width */
/* fonts */
/* Breakpoints */
/* Mixins */
/* block shadow */
/* General */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

main {
  width: 100%;
}

/* Bouton principal */
.main-btn {
  margin: 15px 0;
}

.main-btn__button {
  padding: 15px 20px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 4px 4px 10px 1px #c6c6c6;
          box-shadow: 4px 4px 10px 1px #c6c6c6;
}

.main-btn__button:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  -webkit-box-shadow: 8px 8px 10px 1px #c2c2c2;
          box-shadow: 8px 8px 10px 1px #c2c2c2;
}

/* Coeur - favoris */
.heart:before {
  position: relative;
  top: 5px;
  content: "\f004";
  font-weight: 400;
  font-family: "Font Awesome 5 Free";
  padding: 5px 10px;
  font-size: 22px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: font-weight 1s ease, color 1s ease, background-image 1s ease, background-clip 1s ease;
  transition: font-weight 1s ease, color 1s ease, background-image 1s ease, background-clip 1s ease;
}

.heart:hover:before {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #9356dc), color-stop(70%, #ff79da));
  background-image: linear-gradient(180deg, #9356dc 10%, #ff79da 70%);
  font-weight: 900;
}

.heart--menu:before {
  top: 0;
  right: 10px;
  font-size: 24px;
}

/* HEADER */
main > header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 12px;
  z-index: 999;
  position: relative;
}

.logo {
  width: 180px;
}

@media screen and (min-width: 1124px) {
  .logo {
    width: 280px;
  }
}

.logo__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo--shadow {
  height: 63.22px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 1px 4px 1px #cacaca;
          box-shadow: 0px 1px 4px 1px #cacaca;
}

@media screen and (min-width: 1124px) {
  .logo--shadow {
    height: 80.56px;
  }
}

/* FOOTER */
footer {
  background-color: #353535;
  color: white;
  padding: 20px 20px 30px;
}

footer div {
  max-width: 1440;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 17px;
  margin-bottom: 15px;
}

footer ul {
  list-style: none;
}

footer ul > li {
  padding-bottom: 8px;
}

footer ul > li i {
  padding-right: 5px;
  font-size: 14px;
}

footer ul > li a {
  color: white;
}

footer ul > li:first-child i {
  padding-right: 12px;
}

/* Variables */
/* Vignette plat */
/* Animations affichage des vignettes de plat*/
@-webkit-keyframes display-meals {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes display-meals {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.menu-header {
  height: 300px;
}

.menu-header__img {
  display: block;
  height: 280px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-header__img--la-palette, .menu-header__img--la-francaise, .menu-header__img--le-delice {
  -o-object-position: center;
     object-position: center;
}

.menu-header__img--la-note {
  -o-object-position: center -100px;
     object-position: center -100px;
}

@media screen and (min-width: 768px) {
  .menu-header__img--la-note {
    -o-object-position: center center;
       object-position: center center;
  }
}

/* Menu */
.restaurant {
  background-color: #EAEAEA;
  max-width: 1440px;
  position: relative;
  top: -80px;
  margin: 0 auto -80px;
  padding: 30px 15px 50px;
  border-radius: 40px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .restaurant {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurant__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.restaurant__name {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

.restaurant__meals-group {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 1124px) {
  .restaurant__meals-group {
    width: 32%;
  }
}

.restaurant__meals-type {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
  padding-left: 5px;
}

.restaurant__meals-type::after {
  content: "";
  display: block;
  height: 5px;
  width: 40px;
  border-bottom: 3px #99E2D0 solid;
}

.restaurant__order-btn {
  width: 100%;
  text-align: center;
  margin: 0 0 15px;
}

.restaurant__order-btn button {
  padding-left: 50px;
  padding-right: 50px;
}

/* vignette plat */
.meal-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  border-radius: 16px;
  background-color: white;
  width: 100%;
  max-width: 100%;
  -webkit-box-shadow: 4px 4px 8px 1px #dedede;
          box-shadow: 4px 4px 8px 1px #dedede;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-animation: display-meals 1s ease-out backwards;
          animation: display-meals 1s ease-out backwards;
}

.meal-card--1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.meal-card--2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.meal-card--3 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.meal-card--4 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.meal-card:hover .meal-card--hovered {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  position: relative;
}

.meal-card:hover .meal-card__checked-icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.meal-card:active .meal-card--hovered {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  position: relative;
}

.meal-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 12px 0 12px 10px;
  max-width: calc(100% - 55px);
  min-width: calc(100% - 55px - 60px);
}

.meal-card__name {
  font-weight: 500;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .meal-card__name {
    width: auto;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1124px) {
  .meal-card__name {
    width: 100%;
    margin-right: 0;
  }
}

.meal-card__text {
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meal-card__price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 500;
  padding: 12px 0 12px 10px;
  min-width: 55px;
}

@media screen and (min-width: 768px) {
  .meal-card__price {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 1124px) {
  .meal-card__price {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.meal-card--hovered {
  background-color: #99E2D0;
  position: absolute;
  right: -100px;
  border-radius: 0 16px 16px 0;
  width: 60px;
  min-width: 60px;
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s -webkit-transform ease;
  transition: 1s -webkit-transform ease;
  transition: 1s transform ease;
  transition: 1s transform ease, 1s -webkit-transform ease;
}

@media screen and (min-width: 768px) {
  .meal-card--hovered {
    height: 51px;
  }
}

@media screen and (min-width: 1124px) {
  .meal-card--hovered {
    height: 69px;
  }
}

.meal-card__checked-icon {
  color: white;
  font-size: 20px;
  -webkit-transition: 1s -webkit-transform ease .3s;
  transition: 1s -webkit-transform ease .3s;
  transition: 1s transform ease .3s;
  transition: 1s transform ease .3s, 1s -webkit-transform ease .3s;
}
/*# sourceMappingURL=menu.css.map */